{% extends "base.html" %}
{% block content %}
<h2 class="page-title">Login</h2>
<form method="POST" class="form-card">
    <label>Email</label>
    <input type="email" name="email" required>
    <label>Password</label>
    <input type="password" name="password" required>
    <button class="btn-primary" type="submit">Login</button>
</form>
{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash-message {{ category }}">
          <span>{{ message }}</span>
          <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


{% endblock %}
